*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body{
    display: grid;
    grid-template-areas: 
    "header header aside"
    "main main aside"
    "footer footer footer"
    ;
}

/*header*/

header{
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    grid-area: header;
}
header div img{
    width: 120px;
}

header nav{
    display: flex;
    align-items: center;
}

header nav ul {
    display: flex;
    list-style-type: none;
}

header nav ul li {
    margin-left: 20px;
}

/* header nav ul li a {
    color: white;
} */

header nav ul li a:link{
    color: white;
}

header nav ul li a:visited{
    color: rgb(0, 26, 255);
}

header nav ul li a:hover{
    color: gray;
}

header nav ul li a:active{
    color: rgb(0, 0, 0);
}
nav {
    background-color: #333;
    overflow: hidden;
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px; /* Espaciado interno */
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 23px;
}

nav a:hover {
    background-color: #00aef3; /* Color de fondo al pasar el mouse sobre el enlace */
    color: black;
}

.titulo {
    font-size: 60px;
    color: blueviolet;
    background-color: black;
}

/*main*/

main{
    grid-area: main;
    padding: 50px 0;
}

main .galeria{
    display: grid;
    grid-template-areas: none;
}



main section{
    display: grid;
    grid-template-columns: repeat(2, 400px);
    grid-template-rows: repeat(3, 1fr);
    gap: 0px;
    justify-content: center;
}

main section .card{
    display: flex;
    width: 250px;
    background-color: rgb(250, 250, 250);
    border: 1px solid rgb(205, 205, 205);
    margin: 5px;
    box-shadow: 0 0 10px rgb(228, 228, 228);
    transition: transform .5s;
}

main section .card:hover{
    transform: scale(1.05);
}

main section .card div img{
    width: 240px;
}


main section .card div:nth-child(2){
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
main section .card div button{
    width: 100%;
    background-color: black;
    color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    transition: background-color .5s;
}

main section .card div button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}

.rounded {
    width: 350px;

}

/*aside*/

aside{
    background-color: rgba(0, 0, 0, 0.603);
    padding: 5px;
    grid-area: aside;
    left: 0; /* Muestra el aside en mobile */
}

aside nav ul{
    list-style-type: none;
}

aside nav ul li {
    color: white;
}

#search-form {
    display: flex;
    margin: 5px;
}

#search-input {
    flex-grow: 1;
    padding: 2px;
}

#search-button {
    padding: 2px 4px;
}

/*footer*/

footer{
    background-color: black;
    padding: 10px;
    grid-area: footer;
}

footer div p {
    text-align: center;
    color: white;
}

.whatsapp {
    width: 50px;
    /*POSITION FIXED*/
    position: fixed;
    bottom: 40px;
    right: 30px;
}

/*media querys*/
@media (max-width: 991px){
    main section{
        grid-template-columns: 400px;
        grid-template-rows: repeat(6,1fr);
    }
}

@media (max-width: 480px){
    body{
        grid-template-areas: 
        "header"
        "main" 
        "aside"
        "footer"
        ;
    }
    main section .card{
        margin: 0;
    }
}